.demo-logo {
  width: 120px;
  min-width: 120px;
  height: 32px;
  background: rgba(255, 255, 255, .2);
  border-radius: 6px;
  margin-inline-end: 24px;
}

/* 主容器样式 */
.content {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  /* height: 100vh; */
}

/* 内容容器样式 */
.content-container {
  padding: 16px;
  /* max-width: 850px; 不能在最顶部设置宽度
  width: 100%; */
  /* 确保内容容器占满可用宽度 */
  margin: 0 auto;
  /* 保持水平居中 */
}

/* 屏幕宽度小于 1200px 时 */
@media (max-width: 1200px) {
  .content-container {
    max-width: 90%;
  }
}

/* 屏幕宽度小于 768px 时 */
@media (max-width: 768px) {
  .content-container {
    max-width: 95%;
  }
}

/* 屏幕宽度小于 480px 时 */
@media (max-width: 480px) {
  .content-container {
    max-width: 100%;
    padding: 8px;
    /* 减小内边距以适应小屏幕 */
  }
}


/* 导航栏容器 */
.navbar {
  background-color: #001529;
  width: 100%;
  overflow: hidden;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  /* 子元素水平分布 */
  align-items: center;
  /* 垂直居中 */
  max-width: 1200px;
  /* 内容最大宽度 */
  margin: 0 auto;
  /* 内容居中 */
  /* padding: 10px 20px; */
  /* 内边距 */
  box-sizing: border-box;
  /* 包含内边距和边框 */
}

/* 导航项样式 */
/* .navbar a {
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
} */

/* 鼠标悬停时的样式 */
/* .navbar a:hover {
  background-color: #ddd;
  color: black;
} */

/* 小屏幕适配 */
@media (max-width: 768px) {
  .navbar .container {
    flex-direction: column;
    /* 导航项垂直排列 */
  }

  .navbar a {
    padding: 10px 15px;
    width: 100%;
    /* 每个导航项占满整行 */
  }
}

/* 响应式布局 */
@media (max-width: 768px) {
  .container {
    padding: 10px;
    /* 小屏幕时减少内边距 */
  }
}

.index-container {
  max-width: 1200px;
}

/* .container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
} */