.edit-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: '100vh';
    /* background-color: aqua; */
}

.edit-container .header {
    padding: 0 27px;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-container .header .header-left {
    width: 80%;
    line-height: 64px;
}

.header-left .input-title {
    padding: 0px;
    font-weight: 500;
    height: '100%';
    /* width: 70%; */
    /* 未生效 */
    font-size: 24 !important;
}

/* TODO 让元素向右浮动,总结如何让元素向右对齐 */
.edit-container .header-right {
    line-height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right button {
    margin-left: 16px;
}

.edit-container .btn {
    /* width: 0%; */
    /* display: inline-block; */
    width: 20%;
    /* background-color: azure; */
}